# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
backend/staticfiles/
backend/db.sqlite3
backend/*.sqlite3

# Node
node_modules/
frontend/dist/

# Env files
.env
backend/.env
frontend/.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
